doctype html
html
    head
        title= htmlWebpackPlugin.options.title

    body
        .container#app
            //h1 my webpack bundler
            //p This is my webpack.config.js. There are many like it, but this one is mine
            //
            //ol
            //    li git clone
            //    li npm install -g webpack webpack-dev-server
            //    li npm install
            //    li npm run dev
            //    li enjoy!
            //
            //#timer


